html {
    height: 100%;
}
/* body {
    height: 100%;
    background: url("assets/landscape.jpg") no-repeat center center fixed;
    background-size: 100% 100%;
    padding: 0%;
    margin: 0%;
} */
div#page{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 700px;
    height: 541px;
    transform: translate(-50%,-50%);
    
}
img#landscape{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -10;
}
img#pohu{
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
}

img#blue {
    position: absolute;
    top:35%;
    left:25%;

}
img#darkblue {
    position: absolute;
    top:50%;
    left:50%;
}
img#green {
    position: absolute;
    top:25%;
    left:70%;
}
img#orange {
    position: absolute;
    top:60%;
    left:90%;
}
img#pink {
    position: absolute;
    top:60%;
    left:65%;
    z-index: -1;
}
img#red {
    position: absolute;
    top:60%;
    left:15%;
}
div#page .bauble{
    animation: drop-bounce 5s forwards;
    animation-play-state: paused;
}
div#page:hover .bauble{
    animation: drop-bounce 5s forwards;
}
div#page:not(:hover) .bauble{
    animation-play-state: forwards;
}
.bauble {
    /* animation: drop-bounce 5s forwards;
    animation-play-state: paused; */
    /* animation-iteration-count: infinite; */
    transition: enlarge 3s; 
}
.bauble:hover{
    transform: scale(1.2);
}
@keyframes drop-bounce{
    0% { }   
    
        20%{top:400px;}
        40%{top:300px;}
        60%{top:400px;}
        80%{top:350px;}
        100%{top:400px;}
}