/*svg#figure {
	animation: run 5s linear infinite;
	}
@keyframes run {
	0%{}
	50%{right: 500px;}
	100%{top:100px;*/
/*}*/
#figure {
    animation-name :runOne;
    animation-duration: 5s;
    animation-fill-mode: forwards;
   /* animation-iteration-count: 2;
    animation-direction: alternate;*/
    }


@keyframes runOne {
    0%  {left: 0px; top:100px;}
    9%  {left: 40px; top:100px;}
    18% {left: 40px; top:38px;}
    27% {left: 100px; top:38px;}
    36% {left: 100px; top:162px;}
    45% {left: 38px; top:162px;}
    54% {left: 38px; top:225px;}
    63% {left: 155px; top:225px;}
    72% {left: 155px; top:100px;}
    81%	{left:220px; top:100px;}
    90% {left:220px; top:225px;}
    100% {left:300px; top:225px;}
}
#monster {
	animation-name: runTwo;
	animation-duration: 4.6s;
	animation-timing-function: ease-in;
	animation-delay: 0.5s;
	animation-fill-mode: forwards;
}
	/*animation-iteration-count: 2;
	animation-direction: alternate;
}*/
@keyframes runTwo {
	0%{}
	8%  {left: 0px; top:100px;}
    16%  {left: 20px; top:100px;}
    24% {left: 20px; top:38px;}
    32% {left: 80px; top:38px;}
    40% {left: 80px; top:162px;}
    48% {left: 18px; top:162px;}
    56% {left: 18px; top:225px;}
    64% {left: 135px; top:225px;}
    72% {left: 135px; top:100px;}
    80%	{left:200px; top:100px;}
    88% {left:200px; top:225px;}
    100% {left:240px; top:225px;}
}